body {
    background-image: url("../image/sakura.jpg");
    background-size: cover;
}

.title {
    margin-top: 8%;
    margin-left: 5%;
    padding-bottom: 15px;
    padding-left:6px;
    position: sticky;
    top: 1em;
}

.navbar {
    margin-left: 5%;
}

.nav-link {
    margin-left: 4%;
    color: grey;
}

a:hover{
    color:palevioletred !Important;
    font-weight: bold;
}

.profilePic {
    width: 300px;
    height: 300px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

