body {
    /*background: linear-gradient(lightcoral, #ebf8e1, peachpuff, #ebf8e1, black);*/
    background-image: url("../image/lightbg.jpg");
}

a{
    color: black !Important;
}

a:hover{
    color:dimgray !Important;
    font-weight: bold;
    text-decoration: none !Important;
}

#heading {
    margin: 1em 1em;
    padding: 1em;
    text-align: center;
    background-color: seashell;
    opacity: 0.7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0.5em;
    z-index: 1;
}


#profileDiv {
    width: 100vw;
    height:100vh;
    color:seashell;
}

#profilePic{
    background-image: url("../image/bear.jpg");
    height: 350px;
    width:295px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50% 20% / 10% 40%;
    margin: 3em auto;
}

#profileText{
    margin: 6em auto;
}

.section {
    height: 100vh;
    background-position: center;
}

.sectionText{
    width: 100%;
    position: absolute;
    bottom:4em;
    left: 50%;
    transform: translateX(-50%);
    color: seashell;
    text-align: center;
}

#from {
  background-image: url("../image/taipei101.jpg");
  background-size:757px 500px;  
  background-repeat: no-repeat;
  position: relative;
}

#who {
    background-image: url("../image/globe.jpg");
    background-size:757px;
    background-repeat: no-repeat;
    position: relative;
}

.d-block {
    height: 90vh;
}

.carousel-item img {
   margin: auto auto;
}
